{% extends "base.html" %}
{% block body %}
<div class="container">
    {% if stars %}
    <div class="row header-nav">
        <div class = "col-md-12 header-nav-left">
            <h2>Fav-Star</h2>
        </div>
    </div>
    <hr class = "header-nav-hr"/>
    <div class="row">
    {% for star in stars%}
    <div class = "col-md-2">
        <div class = "fav_star_cover" data-href="/fav-del/s/{{star['star_id']}}" style="background-image: url(http://pics.dmm.co.jp/mono/actjpgs/thumbnail/{{star['star_avatar']}}.jpg); ?>"></div>
        <a class = "fav_star_link" href = '/s/{{star['star_name']}}'>{{ star['star_name'] }}</a>
    </div>
    {% end %}
    </div>
    {% else %}
    <div class="row">
        <div class="list-group">
            <h3>{{ info }}</h3>
        </div>
    </div>
    {% end %}
</div>
<script src="{{ static_url("js/jquery.min.js") }}"></script>
<script src="{{ static_url("js/bootstrap.min.js") }}"></script>
<script>
$(document).ready(function(){
  $(".fav_star_cover").click(function(){
    if(confirm("Confirm Cancel Favorites?"))
    {
      $.get($(this).attr("data-href"));
      window.location.reload();
    }
  });
});
</script>
{% end %}


