{% extends "base.html" %}
{% block body %}
<div class=" page container">
    {% if not movie_info['error'] %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">[{{movie_info['mid']}}]
                <small>{{movie_info['title']}}</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive" src="http://pics.dmm.co.jp/mono/movie/adult/{{movie_info['cid']}}/{{movie_info['cid']}}pl.jpg">
        </div>
        <div class="col-md-4">
            <dl class="dl-horizontal">
                <dt>时间:</dt>
                <dd>{{movie_info['duration']}}</dd>
                <hr/>
                <dt>日期:</dt>
                <dd>{{movie_info['release_date']}}</dd>
                <hr/>
                <dt>演员:</dt>
                <dd>{% if movie_info['star'] %}{{ movie_info['star'] }}{% else %}----{% end %}</dd>
                <hr/>
                <dt>导演:</dt>
                <dd>{% if movie_info['director'] %}{{ movie_info['director'] }}{% else %}----{% end %}</dd>
                <hr/>
                <dt>厂商:</dt>
                <dd>{% if movie_info['maker'] %}{{ movie_info['maker'] }}{% else %}----{% end %}</dd>
                <hr/>
                <dt>系列:</dt>
                <dd>{% if movie_info['series'] %}{{ movie_info['series'] }}{% else %}----{% end %}</dd>
                <hr/>
                <dt>标签:</dt>
                <dd>{% if movie_info['laber'] %}{{ movie_info['laber'] }}{% else %}----{% end %}</dd>
                <hr/>
                <dt>分类:</dt>
                <dd>{{movie_info['genre']}}</dd>
            </dl>
        </div>
    </div>
    {% if movie_info['image'] %}
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">影片截图</h3>
        </div>
        {% for i in range(int(movie_info['image_num'])) %}
        <div class="col-sm-2 col-xs-4">
            <img class="img-responsive portfolio-item" src="{{movie_info['image'][:-5]+str(i+1)+'.jpg'}}">
        </div>
        {% end %}
    </div>
    {% end %}
    {% else %}
    <div class="row">
        <div class="list-group">
            <h3>{{ movie_info['error'] }}</h3>
        </div>
    </div>
    {% end %}
</div>
<!-- /.container -->
<script src="{{ static_url("js/jquery.min.js") }}"></script>
<script src="{{ static_url("js/bootstrap.min.js") }}"></script>
{% end %}

